/* latin */
@font-face {
  font-family: 'Carrois Gothic SC';
  font-style: normal;
  font-weight: 400;
  src: local('Carrois Gothic SC Regular'), local('CarroisGothicSC-Regular'), url(http://fonts.gstatic.com/s/carroisgothicsc/v6/bVp4nhwFIXU-r3LqUR8DSMAaO3DZECqhKACHp1QZu34.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
